<h1>Lista de trabajadores</h1>

<table class="table">
  <thead>
    <tr>
      <th>Codigo</th>
      <th>Cedula</th>
      <th>Nombres</th>
      <th>Apellidos</th>      
      <th> Acciones </th>
    </tr>
  </thead>

  <tbody>
    <% @workers.each do |worker| %>
      <tr>
        <td><%= worker.code %></td>
        <td><%= worker.cc %></td>
        <td><%= worker.first_name %></td>
        <td><%= worker.last_name %></td>
        
        <td><div class="row">
          <%= link_to '<i class="fa fa-eye"></i> Ver'.html_safe, worker, :class => "btn btn-info" %>
          <%= link_to '<i class="fa fa-pencil"></i> Editar'.html_safe, edit_worker_path(worker), :class => "btn btn-warning" %>
          <%= link_to '<i class="fa fa-trash"></i> Eliminar'.html_safe , worker, method: :delete, data: { confirm: 'Are you sure?' } , :class => "btn btn-danger"%>  
        </div></td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '<i class="fa fa-plus"></i> Nuevo Trabajador'.html_safe, new_worker_path, :class => "btn btn-primary" %>
