<h1>Lista de Vehiculos</h1>

<table class="table">
    <thead>
        <tr>
            <th>Referencia</th>
            <th>Estado actual</th>
            <th>Ubicacion actual</th>
            <th>Acciones</th>
        </tr>
    </thead>

    <tbody>
        <% @vehicles.each do |vehicle| %>
        <tr>
            <td><%= vehicle.reference %></td>
            <td class="<%= vehicle.current_status %>">
                <center><%= vehicle.current_status %></center>
            </td>
            <td><%= vehicle.vehicle_statuses.last.location unless vehicle.vehicle_statuses.empty? %></td>
            <td>
                <div class="row">
                    <%= link_to '<i class="fa fa-eye"></i> Ver'.html_safe, vehicle_path(vehicle), :class => "btn btn-info" %>
                    <%= link_to '<i class="fa fa-pencil"></i> Editar'.html_safe, edit_vehicle_path(vehicle), :class => "btn btn-warning" %>
                    <%= link_to '<i class="fa fa-trash"></i> Eliminar'.html_safe, vehicle , :class => "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
                </div>
            </td>
        </tr>
        <% end %>
    </tbody>
</table>

<br>

<%= link_to '<i class="fa fa-plus"></i> Nuevo vehiculo'.html_safe, new_vehicle_path, :class => "btn btn-primary" %>
