<%= form_for(@report) do |f| %>
<% if @report.errors.any? %>
<div id="error_explanation">
    <h2><%= pluralize(@report.errors.count, "error") %>
        prohibited this report from being saved:</h2>

    <ul>
        <% @report.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
    </ul>
</div>
<% end %>

<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <%= f.label :shift, "Turno" %><br>
            <%= f.select :shift  , @shifts.collect {|s| [ s ] }, {include_blank: nil}, class: "form-control" %>
        </div>
        <div class="form-group ">
            <%= f.label :date, "Fecha:" %><br>
            <div class="form-control">
                <%= f.date_select :date, class: "form-control" %>
            </div>
        </div>
        <div class="form-group">
            <%= f.label :group_id, "Grupo: "  %><br/>
            <%= f.select :group_id  , @current_groups.collect {|g| [ g.group_id.name , g.id ] }, {include_blank: nil}, class: "form-control" %>
        </div>

    </div>
    <div class="col-md-9"></div>
</div>

<div class="row">
    <table class="table" id="observationsTable">
        <thead>
            <tr>
                <th class="col-md-2">Equipo</th>
                <th class="col-md-1">Down</th>
                <th class="col-md-1">Ready</th>
                <th class="col-md-6">Comentarios/Observaciones</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

<div>
    <button type="button" onclick="addRowObservation()" class="btn btn-primary">
        <i class="fa fa-plus"></i>
        Nueva observacion</button>
</div>

<div class="row">
    <table class="table" id="taskTable">
        <thead>
            <tr>
                <th class="col-md-2">Equipo</th>
                <th class="col-md-6">Comentarios/Observaciones</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

<div>
    <button type="button" onclick="addRowTask()" class="btn btn-primary">
        <i class="fa fa-plus"></i>
        Nueva tarea por realizar</button>
</div>

<div class="actions">
    <%= f.submit %>
</div>

<% end %>

<script type="text/javascript">

    function createSelectEquipment(name) {
        var se = '<select class="form-control" name="' + name + '[equipments][]" id="' + name + '_equipments_">';
        se += "<option value>Selec. Equipo</option>";
        <%  @equipments.each do |e| %>
        se += "<option value=" + <%= e.id %> + ">";
        se += '<%= e.reference %>';
        se += "</option>";
        <% end %>
        se += "</select>";
        return se;
    }

    function createTextArea(name) {
        var ta = '<textarea name="' + name + '[comments][]" id="' + name + '_comments_" class="form-control"></textarea>';
        return ta;
    }

    function createTimePicker(name) {
        var tp = "";
        tp += "<div class=''>"
        tp += '<select id="observations_' + name + '_hour_" name="observations[' + name + '][hour][]">';
        tp += "<option value>--</option>";
        for (var i = 0; i < 24; i++) {
            tp += i < 10
                ? ("<option value=0" + i + ">0" + i + "</option>")
                : ("<option value=" + i + ">" + i + "</option>");
        }
        tp += "</select>";
        tp += " : ";
        tp += '<select id="observations_' + name + '_minutes_" name="observations[' + name + '][minutes][]">';
        tp += "<option value>--</option>";
        for (var i = 0; i < 60; i++) {
            tp += i < 10
                ? ("<option value=0" + i + ">0" + i + "</option>")
                : ("<option value=" + i + ">" + i + "</option>");
        }
        tp += "</select>";
        tp += "</div>"
        return tp;
    }

    function addRowObservation() {
        var row = "<tr>";
        row += '<div class="row">'
        row += '<td class="col-md-2" >';
        row += createSelectEquipment("observations");
        row += "</td>";

        row += '<td class="col-md-1" >';
        row += createTimePicker("down");
        row += "</td>";

        row += '<td class="col-md-1" >';
        row += createTimePicker("ready");
        row += "</td>";

        row += '<td class="col-md-6" >';
        row += createTextArea("observations");
        row += "</td>";

        row += '</div>'
        row += "</tr>";
        $("#observationsTable > tbody:last-child").append(row)
    }

    function addRowTask() {
        var row = "<tr>";
        row += '<div class="row">'
        row += '<td class="col-md-2" >';
        row += createSelectEquipment("tasks");
        row += "</td>";

        row += '<td class="col-md-10" >';
        row += createTextArea("tasks");
        row += "</td>";

        row += '</div>'
        row += "</tr>";
        $("#taskTable > tbody:last-child").append(row)
    }

    $(document).ready(function () {
        addRowObservation();
        addRowTask()
    });
</script>
