<p id="notice"><%= notice %></p>

<h1>Lista de reportes</h1>

<h3>Mis reportes</h3>

<% unless @my_reports.empty? %>
<table class="table">
    <thead>
        <tr>
            <th>Turno</th>
            <th>Fecha</th>
            <th>Grupo</th>
            <th>Sup. Senior</th>
            <th>Sup. Junior</th>
            <th>Opciones</th>
        </tr>
    </thead>

    <tbody>
        <% @my_reports.each do |report| %>
        <tr>
            <td><%= report.shift %></td>
            <td><%= report.date %></td>
            <td><%= report.group.group_id.name %></td>
            <td><%= report.senior.first_name + " " + report.senior.last_name unless report.senior.nil? %></td>
            <td><%= report.junior.first_name + " " + report.junior.last_name unless report.junior.nil? %></td>
            <td>
                <div class="row">
                    <%= link_to '<i class="fa fa-eye"></i> Ver'.html_safe, report, :class => "btn btn-primary" %>
                    <%= link_to '<i class="fa fa-pencil"></i> Editar'.html_safe, edit_report_path(report), :class => "btn btn-warning" %>
                </div>
            </td>
        </tr>
        <% end %>
    </tbody>
</table>
<% else %>
<center>
    <strong>No has creado ningun reporte todavia</strong>
</center>
<% end %>

<br>

<h3>Todos los reportes</h3>

<% unless @reports.empty? %>
<table class="table">
    <thead>
        <tr>
            <th>Turno</th>
            <th>Fecha</th>
            <th>Grupo</th>
            <th>Sup. Senior</th>
            <th>Sup. Junior</th>
            <th>Opciones</th>
        </tr>
    </thead>

    <tbody>
        <% @reports.each do |report| %>
        <tr>
            <td><%= report.shift %></td>
            <td><%= report.date %></td>
            <td><%= report.group.group_id.name %></td>
            <td><%= report.senior.first_name + " " + report.senior.last_name unless report.senior.nil? %></td>
            <td><%= report.junior.first_name + " " + report.junior.last_name unless report.junior.nil? %></td>
            <td>
                <div class="row">
                    <%= link_to '<i class="fa fa-eye"></i> Ver'.html_safe, report, :class => "btn btn-primary" %>
                    <%= link_to '<i class="fa fa-pencil"></i> Editar'.html_safe, edit_report_path(report), :class => "btn btn-warning" %>
                </div>
            </td>
        </tr>
        <% end %>
    </tbody>
</table>
<% else %>
<center>
    <strong>No exite ningun reporte</strong>
</center>
<% end %>

<br>

<%= link_to 'New Report', new_report_path %>
